@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
	display: block;	/*border-style: solid;
	border-width: thin;*/
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	width: 100%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.fluidList {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	/* [disabled]background-color: #000000; */
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	/*width: 95.25%;
	padding-left: 2.375%;
	padding-right: 2.375%;*/
	width: 95%;
	padding-left: 1%;
	padding-right: 1%;
	clear: none;
	float: none;
	background-color: #FFFFFF;
	max-width: 750px;
	border-radius: 3em;
}
.top {
	/*white-space: nowrap;*/
	padding-bottom: 1em;
	padding-top: 2em;
}
.title {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 2.15em;
	margin-top: 0em;
	line-height: 0.4em;
}
.tagline {
	text-align: center;
	font-size: 0.81em;
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
}
.taglineLeft {
	margin-right: .3em;
}
.red {
	color: #FC1D00;
}
.special {
	font-family: Arial, Helvetica, sans-serif;
	color: #F30004;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	text-transform: uppercase;
	font-weight: bold;
}
.specialText {
	padding-top: 0.3em;
	padding-right: 0.4em;
	padding-left: 0.4em;
	padding-bottom: 0.15em;
	background-color: #EEEEEE;
}
.specialText a {
	text-decoration: none;
	color: inherit;
}
.topimage {
	display: block;
	text-align: center;
	border-width: medium;
}
.topimage p {
	margin-left: auto;
	margin-right: auto;
	font-size: 90%;
	max-width: 27em;
}
.menu {
}
.navLi {
	background-color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0;
	clear: both;
}
.navLi a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
.navLi a:visited {
	color: #000000;
}
.navLi:hover, .navLi:active {
	background-color: #000000;
}
.navLi:hover a, .navLi:active a {
	color: #FFFFFF;
}
.content1 {
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}
.centered {
	text-align: center;
}

/* My additions - rf */
.navIcon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../images/hamburger.png");
}
.pollWinner img {
	border-style: none;
	padding-left: 19%;
	width: 63%;
}
.pollWinner p {
	max-width: 28em;
	margin-left: auto;
	margin-right: auto;
	font-size: 90%;
	text-align: center;
	clear: left;
}
p.fluid {
	text-align: center;
}
.pollWinnerSmall {
	width: 30%;
	display: inline-block;
	float: right;
}
.secondNav a {
	border-style: solid;
	border-width: thin;
	text-decoration: none;
	line-height: 2em;
	color: #00e;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	border-radius: .5em;
	font-size: 90%;
	padding: 0 .4em;
	display: inline-block;
	font-weight: bold;
}
.secondNav div {
	margin: .2em;
	display: inline-block;
}
.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}
.formContainer {
}
.fluid.content .fluid.centered.secondNav {
}
.footer a {
	color: #FFFFFF;
	text-decoration: none;
}
.news8Link {
	width: 60%;
	margin-top: 0.7em;
	margin-right: .4em;
	margin-left: .4em;
	margin-bottom: .4em;
	display: inline-block;
	padding: .2em;
	border-style: solid;
}
.news8Link a {
	text-decoration: none;
}
.nav-toggle {
	float: left;
}

span.nav-toggle {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .3em 0em 0em .3em;
	
}
.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow: hidden;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoTop {
	padding-top: .5em;
	margin-top: 1em;
}
.topBorder {
	border-top-style: solid;
	border-color: #999999;
}
.topMargin {
	margin-top: 1em;
}
.topPadding {
	padding-top: 1em;
}
.breakLeft {
	display: inline-block;
	padding-right: .3em;
}
.breakRight {
	display: inline-block;
	padding-left: .3em;
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
	margin-top: .5em;

}
.top {
}
.title {
}
h1.title {
}
h2.title {
}
.tagline {
}
.topimage {
}
.menu {
}
.navLi {
clear: none;
/*margin-left: 2.5641%;*/
}
.content1 {
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}

/* My additions - rf */
.navIcon {
	display: none;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	/*max-width: 1232px;*/
	padding-left: 0.75%;
	padding-right: 0.75%;
	/*margin: auto;*/
	clear: none;
	float: none;
	margin-left: auto;
}
.top {
}
.title {
}
.tagline {
}
.topimage {
}
.menu {
}
/*.navLi {
clear: both;
margin-left: 0;
}*/
.content1 {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}
