/*! responsive-nav.js 1.0.34 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  
  /* my addition - rf */

  li.navLi {
	  width: auto;
	  border-right-style: solid;
	  border-right-width: thin;
	  padding: .2em .47em .1em .47em;
	  font-size: 90%;
  }
  li.navLi.noBorder{
	  border: none;
  }
  .title {
	  font-size: 2.4em;
  }
  .tagline {
	  font-size: 1.5em;
  }
  .navList {
	  width: 35em;
	  float: none;
  }
  .top {
	  margin: 1em 0em;
  }
  .special {
	margin: 1em 0em;
  }
}
